<%- include("../../partials/header.ejs") %>
<%- include("../../partials/homenavbar.ejs") %>
<body>
	<div class="container">
		<br>
		
		<% result.articles.rows.forEach(article => { %>
			<div class="card">
				<div class="card-header">
					<h2><%= article.title %></h2>				
				</div>
				<div class="card-body">
					<a class="btn btn-success" href="/<%= article.slug%>">Ler sobre</a>
				</div>
			</div>
		<% }); %>
		<div class="row">
			<div class="col col-12">
				<% if(result.page > 2){ %>
					<a href="/articles/page/<%= result.page - 1 %>" style="float:left"> <<< Anterior</a>
				<% }else if(result.page == 2) { %>
					<a href="/" style="float:left"> <<< Anterior</a>
				<% } %> 

				<% if(result.next){ %>
					<a href="/articles/page/<%= result.page + 1 %>" style="float:right">Próximo >>></a>
				<% } %>
				
			</div>
			<hr>
		</div>
		<hr>
	</div>
</body>
<%- include("../../partials/footer.ejs") %>