<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<body>
	<div class="container">
		<br>
		<div class="card">
			<div class="card-header">
				<h2>Edição de Categorias</h2>
			</div>
			<div class="card-body">
				<form method="POST" action="/categories/update">
					<input type="text" name="title" class="form-control" placeholder="Defina o título da categoria" value="<%= category.title %>">
					<input type="hidden" name="id" value="<%= category.id%>">
					<br>
					<button class="btn-success form-control">Atualizar</button>
				</form>
			</div>
		</div>
	</div>
</body>
<%- include("../../partials/footer.ejs") %>