<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<body>
	<div class="container">
		<br>
		<h2>Categorias</h2>
		<br>
		<a class="btn btn-success" href="/categories/admin/new">Adicionar Nova Categoria</a> 
		<hr>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Titulo</th>
					<th class="text-center">Slug</th>
					<th class="text-center">Ações</th>
				</tr>
			</thead>
			<% if(categories != undefined){ %>
				<tbody>
					<% categories.forEach(category => { %>
					<tr>
						<th><%= category.id %></th>
						<th><%= category.title %></th>
						<th><%= category.slug %></th>
						<th class="text-center">
							<a href="/categories/admin/edit/<%= category.id %>" class="btn btn-success">Editar</a>
							
							<form method="post" action="/categories/delete" style="display: inline" onsubmit="confirmDelete(event, this)">
								<input type="hidden" name="id" value="<%= category.id %>">
								<button class="btn btn-danger">Deletar</button>
							</form>
						</th>
					</tr>
					<% }); %>
				</tbody>
			<% }else{ %>
				<h2>Não existem categorias cadastradas</h2>
			<%}%>
		</table>
	</div>
</body>
<%- include("../../partials/footer.ejs") %>
<script type="text/javascript">
	function confirmDelete(event, form) {
		event.preventDefault(); //evita que o formulário seja enviado.

		var result = confirm("Realmente deseja deletar esta categorias?");

		if(result){
			form.submit();
		}
	}
</script>